@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    *,
    ::before,
    ::after {
        @apply dark:border-gray-800;
    }

    html {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 16px;
        scroll-padding-top: 100px;
        scroll-behavior: smooth;
    }
}

@layer components {
    .color-theme {
        @apply bg-[#F1F2F4] text-black dark:text-zinc-300 dark:bg-[#151818]
    }

    .section-title {
        @apply text-3xl sm:text-4xl font-semibold mb-4;
    }

    .base-input {
        @apply relative block w-full disabled:cursor-not-allowed disabled:opacity-75 focus:outline-none border-0 form-input rounded-md placeholder-gray-400 dark:placeholder-gray-500 text-sm px-3 py-2 shadow-sm bg-white dark:bg-gray-900 text-gray-900 dark:text-white ring-1 ring-inset ring-gray-300 dark:ring-gray-700 focus:ring-2 focus:ring-primary-500 dark:focus:ring-primary-400
    }

    .content {
        @apply prose prose-pre:max-w-xs sm:prose-pre:max-w-full prose-base md:prose-lg prose-h1:no-underline prose-zinc dark:prose-invert prose-img:rounded-lg;
    }
}

@layer utilities {
}